.container {
  max-width: 1100px;
  width: 100%;
}

/**
  * Header
  */
div#root > header {
  height: 100px;
}
#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px 0px;
}
#main-nav a, #main-nav img {
  height: 100%;
}
#main-nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
}
#main-nav > ul > li > a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
}

/**
  * Hero
  */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a5e58;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
#hero .container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
#hero .information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  text-align: left;
  font-size: 1.125rem;
}
#hero .information h2 {
  margin-top: -1rem;
}
#hero h1 {
  color: #f4ce14;
}
#hero img {
  border-radius: 1rem;
  height: 24rem;
  justify-self: end;
  margin-bottom: -4.375rem;
  object-fit: cover;
  width: 100%;
}
#hero .btn {
  width: fit-content;
}

/**
  * Special
  */
#special {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
#special .container > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#special .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

/**
  * Special card
  */
#special article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
  font-size: 1.125rem;
  background-color: #edefee;
  padding-bottom: 1.5rem; 
  border-radius: 1rem;
  transition: all 0.3s ease;
}
#special article img {
  border-radius: 1rem;
  height: 12.5rem;
  object-fit: cover;
  width: 100%;
}
#special article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#special article h2 {
  margin-top: -1rem;
}
#special article span {
  color: #ee9972;
  font-weight: 700;
}
#special article p {
  flex: 1;
}
#special article a {
  font-weight: 700;
  text-decoration: none;
}
#special article header, #special article p, #special article a {
  padding: 0 1.25rem;
}
#special article:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-0.5rem);
}

/**
  * Testimonials
  */
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #4a5e58;
}
#testimonials h2 {
  color: #fff;
}
#testimonials .container > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#testimonials .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}
#testimonials article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
  padding: 1.5rem; 
  border-radius: 1rem;

  text-align: left;
  font-size: 1.125rem;
  background-color: #edefee;
  transition: all 0.3s ease;
}
#testimonials article img {
  border-radius: 50%;
  width: 8rem;
}
#testimonials article p {
  flex: 1;
}

/**
  * Story
  */
#story {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
#story .container {
  display: grid;
  grid-template-areas: 
    "header header"
    "information images";
  gap: 3rem;
}
#story .container > header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}
#story .information {
  grid-area: information;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
  font-size: 1.125rem;
}
#story .information h1 {
  color: #f4ce14;
}
#story .information h2 {
  margin-top: -1rem;
}
#story .images {
  grid-area: images;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#story .images img {
  border-radius: 1rem;
  overflow: clip;
  width: 100%;
}