@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body, #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Karla', sans-serif;
  color: #3e514a;
}
main {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 800;
  border: 2px solid #f4ce14;
  background-color: #f4ce14;
  color: #4a5e58;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  transition: all 0.3s;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn:active {
  border: 2px solid #fff;
  background-color: #4a5e58;
  color: #fff;
  box-shadow: none;
}

.disabled,
.disabled:hover,
.disabled:active {
  box-shadow: none;
  background-color: rgb(179, 179, 179);
  color: rgb(121, 121, 121);
  border: 2px solid rgb(121, 121, 121);
}
